.teamsSearch__label{
  position: relative;
}

.teamsSearch__input{
  width: 100%;
  padding: 10px 20px;
  background: rgba(248, 248, 248, 0.1);
  border-radius: 4px;
  border: none;
  text-align: center;
  margin: 20px 0;
}
.teamsSearch__svg{
  position: absolute;
  top: 3px;
  left: 43%;
}

